# ==============================================================================
# ShellCheck directives.
# https://github.com/koalaman/shellcheck/wiki/Directive
# ==============================================================================

# Allow ShellCheck to follow sourced files.
# https://github.com/koalaman/shellcheck/wiki/Directive#external-sources
external-sources=true

# Suggest `${VAR}` in place of `$VAR`.
enable=require-variable-braces

# Ignore these rules:
# - SC1091 "Not following: file not found": disable info messages regarding
#   use of 'shellcheck source=../path/to/script.sh'.
disable=SC1091
